---
title: We are MakeLABS
---

<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" media="screen" rel="stylesheet" type="text/css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<style>

* { box-sizing: Border-box; } 

i { font-size: 10vh; margin-bottom: 1vh; }

.row .col-sm-6 { height: 25vh; 
  text-align: center;    
}

.bg-dark-grey { background-color: #3b4951; }
.bg-pink { background-color: #ffba99; }
.bg-green { background-color: #75c6bc; }
.bg-silver { background-color: #eef2f3; }
.bg-lg-grey { background-color: #9b9b9b; }
.bg-lg-yellow { background-color: #fff9db; }
.bg-black { background-color: black;}
.white { color: white; }
.gray { color: #687279;}

.b-gray { border: 2px solid gray; }
.b-white { border: 2px solid white; }

.col-sm-6 {
    display:table;
}

.va-middle {
  display:table-cell;
  vertical-align:middle;
}

h1 { font-size: 6vmin; padding: 0; }
h1 bold { font-weight: 700; }
h2 { font-size: 1.5vmin; font-weight: 700; margin: 0;}
p { font-size: 3.0vmin; 
  font-family: Lato;
  font-weight: 700;
}
img { height: 25vh; width: 100%;}
button { 
  width: 80%; 
  background: transparent;
  border-radius: 10px;
}

@media (max-width: 767px){
  .col-sm-6 { 
    width: 100%;
    text-align: center;
  }
  p { font-size: 3.0vh; } 
  h1 { font-size: 5.0vh; } 
  h2 { font-size: 2.0vh; } 
}

@media (min-width: 768px){
  html { overflow: hidden; }
    .container {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        width: 100%;
    }
    
}

</style>

<script>
causeRepaintsOn = $("h1, h2, h3, p");

last = "";
$(window).resize(function() {
  console.log("resize");
  // very hacky for now
  if(last != "24.99vh") {
    $(".col-sm-6").css("height", "24.99vh");
    last = "24.99vh";
  } else {
    $(".col-sm-6").css("height", "25vh");
    last = "25vh";
  }
});
</script>

<div class="container">

  <div class="row">
    <div class="col-sm-6 bg-dark-grey white">
      <div class="va-middle">
        <h1>Make<bold>LABS</bold></h1>
        <h2 class="gray">LONDON &amp; NEW YORK</h2>
      </div>
    </div>
    <div class="col-sm-6 bg-pink white">
      <p class="va-middle">MakeLABS - a full stack,<br>
        design-driven Ruby/<br>
        Rails and Android<br>
        development shop.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 bg-green white">
      <p class="va-middle">We're a tightly<br>
        integrated team of two<br>
        with a full suite of<br>
        design and<br>
        engineering talent.</p>
    </div>
    <div class="col-sm-6 bg-black">
      <img src="http://www.hdwallpapers.in/walls/apple_mac-wide.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 bg-silver">
      <p class="va-middle">
        Jess Eddy<br>
        User Experience<br>
        <br>
        <button class="b-gray">Meet Jess</button>
      </p>
    </div>
    <div class="col-sm-6 bg-lg-grey white">
      <p class="va-middle">
        Rich Hollis<br>
        Engineering<br>
        <br>
        <button class="b-white">Meet Rich</button>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 bg-black">
      <img src="http://www.hdwallpapers.in/walls/apple_mac-wide.jpg">
    </div>
    <div class="col-sm-6 bg-lg-yellow">
      <p class="va-middle">
        <i class="fa fa-comment-o"></i><br>
        <br>
        <button class="b-gray">Let's Chat!</button>
      </p>
    </div>
  </div>

</div>
