---
title: We are MakeLABS
---

<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" media="screen" rel="stylesheet" type="text/css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<style>
i { font-size: 10vh; margin-bottom: 1vh; }
.row .col-sm-6 { height: 25vh; 
  text-align: center;    
}

.bg-dark-grey { background-color: #3b4951; }
.bg-pink { background-color: #ffba99; }
.bg-green { background-color: #75c6bc; }
.bg-silver { background-color: #eef2f3; }
.bg-lg-grey { background-color: #9b9b9b; }
.bg-lg-yellow { background-color: #fff9db; }
.bg-black { background-color: black;}
.white { color: white; }

.col-sm-6 {
    display:table !important;
}

p { font-size: 3.5vmin; 
  display:table-cell;
  vertical-align:middle;
  font-family: Lato;
  font-weight: 700;
}
img { height: 25vh; width: 100%;}
button { border: 2px solid gray; 
  width: 80%; 
  background: transparent;
  border-radius: 10px;
}

</style>

<script>
causeRepaintsOn = $("h1, h2, h3, p");

last = "";
$(window).resize(function() {
  console.log("resize");
  // very hacky for now
  if(last != "24.99vh") {
    $(".col-sm-6").css("height", "24.99vh");
    last = "24.99vh";
  } else {
    $(".col-sm-6").css("height", "25vh");
    last = "25vh";
  }
});
</script>

<div class="container">

  <div class="row">
    <div class="col-sm-6 bg-dark-grey white">
      <p>
        MakeLABS<br>
        <ss>LONDON &amp; NEW YORK</ss>
      </p>
    </div>
    <div class="col-sm-6 bg-pink white">
      <p>MakeLABS - a full stack, design-driven Ruby/Rails and Android development shop.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 bg-green white">
      <p>We're a tighgly integrated team of two with a full suite of design and engineering talent.</p>
    </div>
    <div class="col-sm-6 bg-black">
      <img src="http://www.hdwallpapers.in/walls/apple_mac-wide.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 bg-silver">
      <p>
        Jess Eddy<br>
        User Experience<br>
        <button>Meet Jess</button>
      </p>
    </div>
    <div class="col-sm-6 bg-lg-grey white">
      <p>
        Rich Hollis<br>
        Engineering<br>
        <button>Meet Rich</button>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 bg-black">
      <img src="http://www.hdwallpapers.in/walls/apple_mac-wide.jpg">
    </div>
    <div class="col-sm-6 bg-lg-yellow">
      <p>
        <i class="fa fa-comment-o"></i><br>
        <button>Let's Chat!</button>
      </p>
    </div>
  </div>

</div>
